@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/FreeThemes/sidebar/css/style.css">
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url(/FreeThemes/sidebar/images/bg_1.jpg);">
                <div class="user-logo">
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/Admin/Books"><span class="fa fa-home mr-3"></span> KİTAPLAR</a>
                </li>
                <li>
                    <a href="/Admin/BorrowedBooks"><span class="fa fa-download mr-3"></span> ALINAN KİTAPLAR</a>
                </li>
                <li>
                    <a href="/Admin/Users"><span class="fa fa-gift mr-3"></span> KULLANICILAR</a>
                </li>
                <li>
                    <a href="/Admin/Authors"><span class="fa fa-trophy mr-3"></span> YAZARLAR</a>
                </li>
                <li>
                    <a href="/Admin/Types"><span class="fa fa-cog mr-3"></span> KİTAP TÜRLERİ</a>
                </li>
                <li>
                    <a href="/Admin/Positions"><span class="fa fa-support mr-3"></span> POZİSYONLAR</a>
                </li>
                <li>
                    <a href="/Admin/Statistic"><span class="fa fa-support mr-3"></span> İSTATİSTİKLER</a>
                </li>
                <li>
                    <a href="/Auth/Logout"><span class="fa fa-sign-out mr-3"></span> ÇIKIŞ YAP</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
        </div>
    </div>

    <script src="/FreeThemes/sidebar/js/jquery.min.js"></script>
    <script src="/FreeThemes/sidebar/js/popper.js"></script>
    <script src="/FreeThemes/sidebar/js/bootstrap.min.js"></script>
    <script src="/FreeThemes/sidebar/js/main.js"></script>
</body>
</html>