@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_MainLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>

    @{
        var name = String.Format("{0} {1}", HttpContextAccessor.HttpContext.Session.GetString("name"), HttpContextAccessor.HttpContext.Session.GetString("lastname"));
    }

    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/FreeThemes/sidebar/css/style.css">
    <link href="~/freethemes/sidebar/css/style.css" rel="stylesheet" />
    <link href="~/freethemes/sidebar/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary"></button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url(/FreeThemes/sidebar/images/bg_1.jpg);">
                <div class="user-logo"></div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/User/Books"><span class="fa fa-book mr-3"></span> KİTAPLAR</a>
                </li>
                <li>
                    <a href="/User/EditProfil"><span class="fa fa-download mr-3"></span> Profil Düzenle</a>
                </li>
                <li>
                    <a href="/Auth/Logout"><span class="fa fa-gift mr-3"></span> Çıkış</a>
                </li>
              
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
            @await Component.InvokeAsync("Notyf")
        </div>
    </div>

    <script src="/FreeThemes/sidebar/js/jquery.min.js"></script>
    <script src="/FreeThemes/sidebar/js/popper.js"></script>
    <script src="/FreeThemes/sidebar/js/bootstrap.min.js"></script>
    <script src="/FreeThemes/sidebar/js/main.js"></script>
</body>
</html>


